@inherits LayoutComponentBase

<div class="page" style="display: flex; flex-direction: row;">
    <div style="" class="sidebar">
        <NavMenu />
    </div>
    <div style="position: relative; flex-grow: 1;">
        <div style="position: absolute; width: 100%; height: 100%; overflow: auto;">
            @Body
        </div>
    </div>
</div>
