@page "/"

<div style="height: 100%; height: 100%;">
    <RadzenSplitter Orientation="Orientation.Vertical" style="height: 100%; height: 100%;">
        <RadzenSplitterPane Size="40%" Min="30px">
            <TorrentsDataGrid SelectedChanged="@SelectedTorrentChanged" />
        </RadzenSplitterPane>
        <RadzenSplitterPane>
            <RadzenTabs RenderMode="TabRenderMode.Server" Style="position: relative; height: 100%;">
                <Tabs>
                    <RadzenTabsItem Text="Network" Style="position: relative; height: 100%;">
                        <div style="position: relative; width: 100%; height: 100%;">
                            <PeerView />
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Files">
                        <FilesDataGrid TorrentInstanceId="@SelectedTorrentInstanceId" />
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Peers">
                        <WiresDataGrid TorrentInstanceId="@SelectedTorrentInstanceId" />
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Trackers">
                        <TrackersDataGrid TorrentInstanceId="@SelectedTorrentInstanceId" />
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Comment">
                        <RadzenCard Style="border-radius: 8px;">
                            @SelectedTorrent?.Comment
                        </RadzenCard>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenSplitterPane>
    </RadzenSplitter>
</div>

@code {
    [Inject]
    WebTorrentService WebTorrentService { get; set; }

    Torrent? SelectedTorrent { get; set; }
    string SelectedTorrentInstanceId = "";

    void SelectedTorrentChanged(string instanceId)
    {
        if (SelectedTorrent != null)
        {
            if (SelectedTorrent.InstanceId == instanceId)
            {
                return;
            }
            SelectedTorrent.Dispose();
        }
        SelectedTorrent = WebTorrentService.Client!.GetTorrentByInstanceId(instanceId);
        SelectedTorrentInstanceId = SelectedTorrent?.InstanceId ?? "";
    }
}
