@page "/"

<div style="height: 100%; height: 100%;">
    <RadzenSplitter Orientation="Orientation.Vertical" style="height: 100%; height: 100%;">
        <RadzenSplitterPane Size="40%" Min="30px">
            <TorrentsDataGrid SelectedChanged="@SelectedTorrentChanged" />
        </RadzenSplitterPane>
        <RadzenSplitterPane>
            <RadzenTabs RenderMode="TabRenderMode.Client" Style="position: relative; height: 100%;">
                <Tabs>
                    <RadzenTabsItem Text="Network" Style="position: relative; height: 100%;">
                        <div style="position: relative; width: 100%; height: 100%;">
                            <PeerView />
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Files">
                        <FilesDataGrid TorrentInstanceId="@SelectedTorrentInstanceId" />
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Peers">
                        <WiresDataGrid TorrentInstanceId="@SelectedTorrentInstanceId" />
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenSplitterPane>
    </RadzenSplitter>
</div>

@code {
    // overall download
    // overall upload
    // overall speed 
    // overall progress
    // torrent upload, download speeds ✔
    // torrent upload, download totals ✔
    // torrent pieces
    // torrent files ✔
    // torrent peers ✔
    // torrent total peers ✔
    // torrent total seeds ✔
    // play torrent
    // delete torrent ✔
    // pause/resume ✔
    // select/deselect file ✔
    // add magnet ✔
    // add torrent file picker ✔
    // seed file picker
    // seed dir picker
    // options
    // upload/download throttles
    // delete all app data option
    // delete completed ✔
    // video/audio players
    // export all completed torrents content file(s)
    // export individual torrent content files  ✔
    [Inject]
    WebTorrentService WebTorrentService { get; set; }

    Torrent? SelectedTorrent { get; set; }
    string SelectedTorrentInstanceId = "";

    void SelectedTorrentChanged(string instanceId)
    {
        if (SelectedTorrent != null)
        {
            if (SelectedTorrent.InstanceId == instanceId)
            {
                return;
            }
            SelectedTorrent.Dispose();
        }
        SelectedTorrent = WebTorrentService.Client!.GetTorrentByInstanceId(instanceId);
        SelectedTorrentInstanceId = SelectedTorrent?.InstanceId ?? "";
    }
}
